// When running the api locally, it uses the .env file in the api folder.
// When running on Railway, it uses the .env file in the root folder.
// So to run the api locally, you need to create a .env file in the api folder with those environment variables.
// These are the variables configured on Railway.

VITE_API_URL=http://localhost:3000