# API
PORT=3000
DATABASE_URL=postgres://linkvault:linkvault@postgres:5432/linkvault
JWT_SECRET=change-me-dev
JWT_REFRESH_SECRET=change-me-dev-refresh
CORS_ORIGIN=http://localhost:5173

# WEB (usado no build)
VITE_API_URL=http://localhost:3000