POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=linkvaultdb

DATABASE_URL=postgresql://postgres:change-me@localhost:5432/linkvaultdb

JWT_SECRET=change-me
JWT_REFRESH_SECRET=change-me

PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://host:port,https://host:port/