// When running the api locally, it uses the .env file in the api folder.
// When running on Railway, it uses the .env file in the root folder.
// So to run the api locally, you need to create a .env file in the api folder with those environment variables.
// These are the variables configured on Railway.
CORS_ORIGIN=http://host:port,https://host:port/

DATABASE_URL=postgresql://postgres:change-me@localhost:5432/linkvaultdb

JWT_SECRET=change-me
JWT_REFRESH_SECRET=change-me

NODE_ENV=development
PORT=3000

POSTGRES_DB=linkvaultdb
POSTGRES_PASSWORD=change-me
POSTGRES_USER=postgres