POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=linkvaultdb

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/linkvaultdb

JWT_SECRET=your-secret-key
JWT_REFRESH_SECRET=your-secret-key

PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000